.services-wrap-new {
  width: 100%;
  height: 100%;
  background-color: rgb(160, 171, 182);

  // margin-top:-10rem;
}

.services-h2-styles {
  position: absolute;
  top: 88rem;
  font-size: 45px;

  font-weight: 800;
  color: aliceblue;
  padding-left: 30rem;
}

.services-wrap-new {
  overflow: hidden;
  //box-shadow: 0 2px 20px $clr-gray300;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  background-color: aliceblue;
  box-sizing: border-box;
  width: 100%;
  //padding-left: 15rem;
  //padding-right: 2px;
  height: 20rem;
  margin: 6rem -0.2rem;

  //border: 2px solid #19191e;
}

.services-wrap-new:hover{
  background: rgb(36,210,208);
  background: linear-gradient(90deg, rgba(36,210,208,1) 0%, rgba(76,158,207,1) 63%, rgba(139,80,227,1) 100%); 
}

.service-wrapp {
  //padding: 60px;
  border: 1px solid rgb(57, 53, 53);
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(15rem, 19rem));
  gap: 2px;
  justify-content: center;

  height: 32rem;

  margin-top: -17rem;
  //padding: 20rem;
  background-color: rgb(79, 79, 86);

  // background-color:  #14142b;
}

.services-title{
    margin-left:20px;
    margin: 10px;
    font-size:23px;
    font-size:600;
    
}